<!-- <html>
  <head>
    <link rel="stylesheet" href={{ url_for('static', filename='index.css' ) }}
    />
  </head>

  <body>
    <h1>Phone a friend</h1>

    <div class="nav">
        <form action="/login" method="POST">
            <input type="submit" value="login">
        </form>

        <form action="/signup" method="POST">
            <input type="submit" value="signup"/>
        </form>

        <form action="/logout" method="POST">
            <input type="submit" value="logout"/>
        </form>

        <form action="/find_tutor_form" method="POST">
            <input type="submit" value="find a tutor"/>
        </form>
    </div>
  </body>
</html> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href={{ url_for('static', filename='index.css' ) }}
    />
  </head>
  <body>
    <h1>Phone a friend</h1>

    <div class="nav">
      <form action="/login" method="POST">
        <input type="submit" value="login" />
      </form>

      <form action="/signup" method="POST">
        <input type="submit" value="signup" />
      </form>

      <form action="/logout" method="POST">
        <input type="submit" value="logout" />
      </form>

      <form action="/find_tutor_form" method="POST">
        <input type="submit" value="find a tutor" />
      </form>
    </div>
  </body>
</html>
